    <!--sidebar-wrapper-->
<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="">
            <img src="~/areas/images/logo-icon.png" class="logo-icon-2" alt="" />
        </div>
        <div>
            <h4 class="logo-text">Syndash</h4>
        </div>
        <a href="javascript:;" class="toggle-btn ml-auto">
            <i class="bx bx-menu"></i>
        </a>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="@Url.Action("Index","Dashboard")">
                <div class="parent-icon icon-color-2">
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="menu-title">Giriş</div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index","MainPages")">
                <div class="parent-icon icon-color-2">
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="menu-title">Anasayfa</div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index","Contacts")">
                <div class="parent-icon icon-color-2">
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="menu-title">İletişim</div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index","Abouts")">
                <div class="parent-icon icon-color-2">
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="menu-title">Hakkımızda</div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index","Users")">
                <div class="parent-icon icon-color-2">
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="menu-title">Kullanıcılar</div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index","Products")">
                <div class="parent-icon icon-color-2">
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="menu-title">Ürünler</div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index","Messages")">
                <div class="parent-icon icon-color-2">
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="menu-title">Mesajlar</div>
            </a>
        </li>
    </ul>
    <!--end navigation-->
</div>
<!--end sidebar-wrapper-->